body {
    font-family: sans-serif;
}
.header {
    background: #1f2937;
    display: flex;
    justify-content: space-between;
    padding: 8px;
  }

  .logo {
      font-size: 24px;
      color: #f9faf8;
      font-weight: bold;
  }

  a {
    text-decoration: none;
    color: white;
  }

  ul {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
    gap: 16px
  }

  .awesome {
      background: #1f2937;
      font-family: sans-serif;
      padding: 8px;
      display: flex;
      
  }

  .titulo {
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 40px;
    font-weight: bolder;
    margin-bottom: 8px;
    color: #f9faf8
  }

  .text {
      font-size: 18px;
      color: #e5e7eb;
      height: 110px;
      margin: 5px;
      width: 200px;
      margin-bottom: 8px;
  }

  button {
    padding: 8px 20px;
    border-radius: 10px;
  }
  
  button.sign-up {
    background: #3882f6;
    border: 1px solid #3882f6;
    color: white;
    font-weight: bold;
  }

  .image-placeholder {
    background-color: gray;
    display: flex;
    height: 180px;
    margin: 5px;
    width: 260px;
}

h4 {
    color: #f9faf8
}

.image-placeholder > h4 {
    align-self: center;
    text-align: center;
    width: 100%;
}

.random-info {
    display: flex;
    padding: 30px 30px 30px 30px;
    
}

.card {  
    border: 3px solid #3882f6;
    border-radius: 15px;
    padding: 30px;
    margin: 15px;
    width: 100px;
  }

  .quote {
      background: #e5e7eb;
      padding: 30px 30px 30px 30px;
      display: flex;
  }

  p {
      font-size: 36px;
      color: #686565;

  }

  cite {
    color: #686565;
   
  }

  .call-action {
    font-family: Roboto, sans-serif;
    margin: 0;
    background: white;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px 20px 20px 20px;
  }

  .header-time {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    font-size: 18px;
    font-weight: 700;
    margin-bottom: 8px;
    color: #f9faf8;
  }

  .text-two {
    margin-bottom: 16px;
    color: #e5e7eb;
  }

  .modal {
    background: #3882f6;
    width: 550px;
    border-radius: 10px;
    display: flex;
    gap: 16px;
    padding: 16px;
  }

  .footer {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 30px 30px 30px 30px;
    background: #1f2937;
    color:#e5e7eb
  }